.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selected {
  background-color: black;
  margin-right: 10px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
.input {
  margin-right: 10px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgba(100, 148, 237, 0.512);
}
.btn {
  background-color: black;
  margin-right: 10px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: none;
}
.result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color:black;
}
.error {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color:rgb(245, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}
.img {
  height: 200px;
  width: 200px;
  border-radius: 100px;

}
.errorcontainer {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.starwar {
  color: goldenrod;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
.label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  color: black;
}